In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("DataCoSupplyChainDataset.csv", encoding = 'cp1252')

In [3]:
df = df.rename(columns = {'Product Card Id': 'Product ID', 'order date (DateOrders)': 'order_date', 
                          'Order Item Quantity': 'Total Units Sold', 'Sales': 'Total Sales', 'Order Profit Per Order': 'Total Profit'})

In [4]:
df['order_date'] = pd.to_datetime(df['order_date'], format = '%m/%d/%Y %H:%M')
df['Date'] = df['order_date'].dt.to_period('M').dt.to_timestamp()

In [5]:
first_appear = (df.groupby('Product ID')['Date'].min().reset_index(name = 'first_date'))
max_date = df['Date'].max()

rows = []
for _, r in first_appear.iterrows():
    pid   = r['Product ID']
    start = r['first_date']
    # all month-starts from first appearance through max_date
    for dt in pd.date_range(start = start, end = max_date, freq = 'MS'):
        rows.append({'Product ID': pid, 'Date': dt})

grid = pd.DataFrame(rows)

In [6]:
prod_master = (df[['Product ID', 'Product Name', 'Department Id', 'Category Id', 'Category Name', 'Product Price']]
    .drop_duplicates(subset = 'Product ID')
)

In [7]:
agg = (df.groupby(['Date', 'Product ID']).agg({'Total Units Sold': 'sum', 'Total Sales': 'sum', 'Total Profit': 'sum'}).reset_index())

In [8]:
full = (pd.merge(grid, agg, on = ['Product ID', 'Date'], how = 'left').fillna({'Total Units Sold': 0, 'Total Sales': 0.0, 'Total Profit':0.0}))

In [9]:
inv = full.merge(prod_master, on = 'Product ID', how = 'left')

In [10]:
rng = np.random.default_rng(seed = 42)
inv['Competitor Pricing'] = (inv['Product Price'] * rng.uniform(0.9, 1.1, size = len(inv))).round(2)
inv['Cost to Company'] = (inv['Product Price'] * rng.uniform(0.6, 0.8, size = len(inv))).round(2)

In [11]:
inv['month'] = inv['Date'].dt.month
inv['quarter'] = inv['Date'].dt.quarter
inv['is_month_start'] = inv['Date'].dt.is_month_start
inv['is_month_end'] = inv['Date'].dt.is_month_end

In [12]:
inv = inv.sort_values(['Product ID','Date']).reset_index(drop = True)
inv['seasonal_naive'] = inv.groupby('Product ID')['Total Units Sold'].shift(12)
inv['rolling_ma3'] = inv.groupby('Product ID')['Total Units Sold']\
                             .transform(lambda x: x.shift(1)
                                             .rolling(window = 3, min_periods = 1)
                                             .mean())

In [13]:
inv['Demand Forecast'] = ((0.2 * inv['seasonal_naive'] + 0.8 * inv['rolling_ma3']).round().fillna(inv['rolling_ma3']).fillna(0).round().astype(int))
inv.drop(columns = ['seasonal_naive', 'rolling_ma3'], inplace = True)

In [14]:
init_frac, order_frac = 1.2, 0.8

def flow_calc(group):
    group = group.sort_values('Date').copy()
    inv_lvls, units_ord, tot_inv = [], [], []
    prev_tot = None

    for _, row in group.iterrows():
        sold = row['Total Units Sold']
        fcst = row['Demand Forecast']

        if prev_tot is None:
            # init based on actual sales (never zero if sold>0)
            inv_lvl = int(init_frac * sold)
            prev_tot = inv_lvl
        else:
            inv_lvl = prev_tot

        # base order from forecast
        base_uo = int(order_frac * fcst)
        # bump up order if base_uo + on-hand < sold, to avoid negative
        uo = base_uo if (prev_tot + base_uo) >= sold else (sold - prev_tot)

        ti = prev_tot + uo - sold

        inv_lvls.append(inv_lvl)
        units_ord.append(uo)
        tot_inv.append(ti)

        prev_tot = ti

    group['Inventory Level'] = inv_lvls
    group['Units Ordered']    = units_ord
    group['Total Inventory']  = tot_inv
    return group

inv = (
    inv
    .groupby('Product ID', group_keys=False)
    .apply(flow_calc)
    .reset_index(drop=True)
)

C:\Users\neel9\AppData\Local\Temp\ipykernel_2612\2008329361.py:38: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  inv

In [15]:
# 13) Reorder columns and export
final_cols = [
    'Date', 'Product ID', 'Product Name', 'Department Id', 'Category Id',
    'Category Name', 'Inventory Level', 'Total Units Sold', 'Total Sales',
    'Total Profit', 'Units Ordered', 'Demand Forecast', 'Product Price',
    'Competitor Pricing', 'Cost to Company', 'Total Inventory',
    'month', 'quarter', 'is_month_start', 'is_month_end'
]
inventory_df = inv[final_cols]

In [16]:
inventory_df

,Date,Product ID,Product Name,Department Id,Category Id,Category Name,Inventory Level,Total Units Sold,Total Sales,Total Profit,Units Ordered,Demand Forecast,Product Price,Competitor Pricing,Cost to Company,Total Inventory,month,quarter,is_month_start,is_month_end
0,2017-04-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,2.0,2.0,249.979996,106.320000,0.0,0,124.989998,131.84,91.43,0.0,4,2,True,False
1,2017-05-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,0.0,13.0,1624.869973,228.510005,13.0,2,124.989998,123.46,93.00,0.0,5,2,True,False
2,2017-06-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,0.0,13.0,1624.869973,458.999994,13.0,8,124.989998,133.95,91.03,0.0,6,2,True,False
3,2017-07-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,0.0,15.0,1874.849969,325.769995,15.0,9,124.989998,129.92,94.75,0.0,7,3,True,False
4,2017-08-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,0.0,17.0,2124.829964,-194.960013,17.0,14,124.989998,114.85,90.61,0.0,8,3,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,2018-01-01,1361,Toys,7,74,Toys,50.0,276.0,3185.039989,443.520002,226.0,253,11.540000,11.71,8.03,0.0,1,1,True,False
2446,2017-12-01,1362,Fighting video games,9,75,Video Games,273.0,228.0,9063.000000,750.370007,0.0,0,39.750000,36.17,25.61,45.0,12,4,True,False
2447,2018-01-01,1362,Fighting video games,9,75,Video Games,45.0,610.0,24247.500000,1967.149990,565.0,228,39.750000,38.99,27.88,0.0,1,1,True,False
2448,2017-12-01,1363,Summer dresses,4,76,Women's Clothing,326.0,272.0,58703.041986,7927.739958,0.0,0,215.820007,219.40,167.86,54.0,12,4,True,False
2449,2018-01-01,1363,Summer dresses,4,76,Women's Clothing,54.0,378.0,81579.962759,11175.109972,324.0,272,215.820007,219.50,163.69,0.0,1,1,True,False

In [17]:
import numpy as np

inventory_df['Date'] = pd.to_datetime(inventory_df['Date'])
inventory_df = inventory_df.sort_values(['Product ID', 'Date']).reset_index(drop=True)

mask = inventory_df['Units Ordered'] == 0
inventory_df.loc[mask, 'Units Ordered'] = inventory_df.loc[mask, 'Total Units Sold'] * np.random.uniform(0.9, 1.1, size=mask.sum())

inventory_df['Units Ordered'] = inventory_df['Units Ordered'].round(0)

mask = inventory_df['Demand Forecast'] < inventory_df['Units Ordered']
inventory_df.loc[mask, 'Demand Forecast'] = inventory_df.loc[mask, 'Units Ordered'] * np.random.uniform(1.1, 1.5, size = mask.sum())

inventory_df['Demand Forecast'] = inventory_df['Demand Forecast'].round(0)

def update_inventory(group):
    group = group.sort_values('Date').copy()
    inv_lvls = []
    tot_inv = []
    prev_tot = 0
    for _, row in group.iterrows():
        inv_lvl = prev_tot + row['Demand Forecast']
        total_inventory = inv_lvl - row['Total Units Sold']
        inv_lvls.append(inv_lvl)
        tot_inv.append(total_inventory)
        prev_tot = total_inventory
    group['Inventory Level'] = [round(x, 0) for x in inv_lvls]
    group['Total Inventory'] = [round(x, 0) for x in tot_inv]
    return group

inventory_df = inventory_df.groupby('Product ID', group_keys=False).apply(update_inventory).reset_index(drop=True)
inventory_df

C:\Users\neel9\AppData\Local\Temp\ipykernel_2612\3499703856.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[2.65998745e+00 1.66112385e+01 1.90332643e+01 1.84146594e+01
 2.18496668e+01 1.63443449e+01 8.07144454e+01 7.71052078e+01
 6.51141552e+00 1.82444787e+01 1.63193730e+01 1.67615614e+01
 2.59786707e+01 3.85814341e+01 3.68904193e+01 3.75533876e+01
 4.72795862e+01 4.09569502e+01 5.47518198e+01 4.64240309e+01
 6.45185939e+01 3.59245396e+01 4.80025768e+01 6.54318938e+01
 5.98938587e+01 5.98260731e+01 4.09475307e+01 3.80290511e+01
 5.14425719e+01 5.69793700e+01 5.87983305e+01 4.84180281e+01
 4.56538628e+01 4.07417122e+01 3.65215220e+01 4.78715119e+01
 3.33153690e+01 2.44787564e+00 1.10799415e+01 3.38699867e+01
 1.52273683e+01 5.89342296e+01 5.09639282e+01 4.53971318e+01
 4.24911167e+01 6.11540526e+01 5.36249261e+01 4.74021362e+01
 3.24177860e+01 5.03869588e+01 4.34892169e+01 4.38586633e+01
 6.16492433e+01 5.45120227e+01 5.65541249e+01 5.73437874e+01
 5.16740488e+01 6.09933864e+01 4.47509091e+01 5.08845272e+01
 7.80346866e+01 5.08554991e+01 6.24494521e+01 5.56621178e+01
 4.88669355e+01 3.12877982e+01 6.57734198e+01 2.71695282e+01
 6.29301805e+01 4.93415838e+01 5.11467061e+01 4.29981674e+01
 4.42719136e+01 4.61511643e+01 7.15181245e+01 5.74694273e+01
 4.38563947e+01 5.89528440e+01 6.00731103e+01 3.62500147e+01
 3.60079023e+01 4.27814914e+01 5.02719869e+01 4.45527257e+01
 6.95181040e+01 5.73050210e+01 5.09869041e+01 3.77598987e+01
 3.42295420e+01 4.34036931e+01 8.49059044e+01 4.49977892e+01
 5.40720077e+01 1.36310080e+03 1.83614042e+03 1.41353625e+03
 1.55601111e+03 1.42665339e+03 1.24116757e+03 1.47322502e+03
 1.57505751e+03 1.48084549e+03 1.44112450e+03 1.38780068e+03
 1.75390982e+03 1.63829101e+03 1.38821154e+03 1.41308098e+03
 3.90325066e+01 8.29030877e+00 9.99238932e+00 5.78578918e+00
 8.08488370e+00 1.71180796e+01 1.81646379e+01 2.61263325e+01
 9.67108094e+00 4.86292738e+01 5.02948342e+01 5.35021750e+01
 5.32559604e+01 5.25486464e+01 4.31261847e+01 4.33758797e+01
 5.15784091e+01 4.49312899e+01 3.05063296e+01 3.31274839e+01
 4.77207912e+01 3.97430824e+01 4.13311193e+01 4.34757597e+01
 4.13654579e+01 3.83613195e+01 6.10603191e+01 6.04446285e+01
 5.33733217e+01 8.57543199e+01 1.97211542e+01 5.76800840e+01
 6.34723262e+01 1.24539143e+01 2.95651591e+01 5.51281476e+01
 6.26506575e+01 6.51008402e+01 2.35268454e+01 3.13116339e+01
 6.05905712e+01 6.92777887e+01 4.24843859e+01 3.62488165e+01
 5.18278612e+01 4.28643354e+01 7.57313850e+01 3.71747472e+01
 4.27544849e+01 4.58742171e+01 3.53508694e+01 8.31632882e+01
 6.82144746e+01 8.07581918e+01 6.51202543e+01 4.87341591e+01
 7.19420378e+01 3.89981489e+01 3.49283763e+01 4.31089046e+01
 4.08193578e+01 7.22560907e+01 5.27287583e+01 5.96038321e+01
 3.89596645e+01 4.16960991e+01 4.23946073e+01 5.83174572e+01
 5.58523346e+01 5.79275637e+01 2.74541934e+01 7.50323177e+01
 5.59452586e+01 6.03532654e+01 1.09429498e+01 4.24819405e+01
 3.76436748e+01 5.48690605e+01 6.93304492e+01 4.46892975e+01
 3.93306846e+00 2.59817339e+01 1.50129855e+01 2.31207229e+01
 1.02114093e+01 5.76145861e+01 6.96962452e+01 4.98060245e+00
 1.35454548e+01 1.46710608e+01 1.38927579e+01 1.80566849e+01
 1.26009749e+01 5.83677120e+01 7.05198666e+01 5.05708215e+01
 3.59702596e+03 3.03400457e+03 2.94014594e+03 3.42247487e+03
 3.08602515e+03 3.14230392e+03 3.29304912e+03 3.08791031e+03
 2.88010716e+03 2.89166304e+03 2.61213323e+03 3.43525518e+03
 2.73862968e+03 3.09061084e+03 3.15997932e+03 8.21515136e+02
 7.33713111e+02 8.92721039e+02 9.96745478e+02 7.56753403e+02
 9.23011726e+02 8.96200414e+02 8.74481716e+02 9.09290338e+02
 8.52232615e+02 9.33432453e+02 7.54181721e+02 7.72272505e+02
 9.08973758e+02 9.22711208e+02 1.07517978e+03 7.32812306e+02
 1.02349178e+03 9.19808802e+02 2.60957178e+03 2.92740448e+03
 2.69171812e+03 2.24305597e+03 3.12177872e+03 2.52490679e+03
 2.37886130e+03 2.61243313e+03 2.75923621e+03 2.26061741e+03
 2.34001552e+03 2.30496678e+03 2.68254590e+03 2.20108460e+03
 2.62749663e+03 2.36713657e+03 2.40134410e+03 2.54630059e+03
 2.44514082e+03 3.45404496e+01 5.20652688e+01 5.99815741e+01
 4.59804765e+01 4.35531085e+01 9.60406528e+01 5.46478942e+01
 7.62662760e+01 4.89183746e+01 5.30800860e+01 5.27858769e+01
 6.56406476e+01 5.88122253e+01 5.19876238e+01 3.65617077e+01
 4.97352746e+01 4.15934623e+01 4.92985238e+01 3.30807958e+01
 4.39142996e+01 4.63834222e+01 6.85076923e+01 4.75525485e+01
 5.81842718e+01 7.31363058e+01 3.47645820e+01 3.42137816e+01
 3.24576533e+01 6.27469133e+01 4.13677447e+01 5.79433687e+01
 8.35821565e+01 4.69539600e+01 4.52810436e+01 4.76478119e+01
 3.62213369e+01 4.17465176e+01 6.81386446e+00 1.97823883e+01
 1.78953745e+01 3.31205900e+01 5.18927303e+00 2.31066312e+01
 1.88114081e+01 1.23074906e+03 1.36574435e+03 1.19693197e+03
 1.48329800e+03 1.23791618e+03 1.46706365e+03 1.19364736e+03
 1.50199935e+03 1.27682513e+03 1.09652119e+03 1.52528033e+03
 1.22628008e+03 1.36544744e+03 1.25047718e+03 1.29730529e+03
 1.32551061e+03 4.09710927e+01 4.76337840e+01 4.04964792e+01
 6.76738961e+01 4.54447702e+01 4.84856729e+01 4.68227536e+01
 5.84383605e+01 6.19017541e+01 5.47444270e+01 5.55354241e+01
 8.17138567e+00 6.40511604e+01 4.13962227e+01 7.47243585e+01
 3.52325130e+00 3.12697452e+01 2.49948226e+01 2.44727101e+00
 1.74545568e+01 1.98655091e+01 2.24067575e+01 8.64670484e+00
 1.38955745e+01 3.36694626e+01 2.66585692e+01 2.37451052e+01
 6.06591069e+00 1.70782643e+01 1.36629729e+01 2.34440463e+01
 7.97045021e+00 4.44706916e+01 4.34616849e+01 4.66171049e+01
 7.40934257e+01 1.60382719e+01 2.35915434e+01 3.81936488e+01
 7.93270746e+01 2.22668788e+01 3.70286390e+01 3.91927296e+01
 4.32095292e+01 5.67886638e+01 5.63689313e+01 5.63510530e+01
 4.07810685e+01 4.54753715e+01 6.27334120e+01 7.18271428e+01
 4.69865525e+01 1.01214823e+01 1.22697283e+01 1.77538800e+01
 2.05795086e+01 2.11059268e+01 4.78094430e+00 1.55600296e+01
 2.13934180e+01 3.25910762e+01 1.29808816e+01 4.25354640e+01
 8.49841052e+01 6.42002092e+01 7.17959928e+01 8.27085898e+00
 1.77428534e+01 2.63506330e+01 2.39898423e+01 5.86591018e+01
 5.96546360e+01 4.62638240e+01 6.60075809e+01 5.28835351e+01
 3.90449658e+01 3.25628574e+01 6.01680644e+01 3.63532771e+00
 5.58181629e+01 7.36865276e+01 5.11076437e+00 2.05685919e+01
 1.68922247e+01 1.85600425e+01 3.97026891e+01 3.24184114e+01
 4.11877824e+01 7.54042535e+01 4.56011706e+01 4.38897263e+01
 5.78560226e+01 4.39541822e+01 4.41775107e+01 3.95630660e+01
 4.24650767e+01 4.82639504e+01 5.60715572e+01 1.24203945e+00
 9.92315841e+00 1.87121845e+01 1.39961917e+01 4.67051523e+01
 4.88384597e+01 6.77288998e+01 5.08276746e+01 4.55154333e+01
 4.94367508e+01 3.51890615e+01 3.47588201e+01 5.76243900e+01
 4.83374907e+01 4.72238782e+01 4.76761223e+00 8.05519035e+01
 5.70194114e+01 4.70575821e+01 4.66530186e+01 3.87211490e+01
 6.88609967e+01 3.22376372e+01 3.97664283e+01 4.49914161e+01
 5.26836355e+01 2.67388785e+01 5.17943735e+00 1.96312956e+01
 2.25377799e+01 1.92100420e+01 1.89143572e+01 2.73960158e+01
 5.14920334e+01 5.64365874e+01 4.58971083e+01 4.22275732e+01
 4.64003628e+01 5.44688518e+01 6.65228426e+01 3.15515948e+01
 4.55657579e+01 4.59033307e+01 5.26997700e+01 3.77037068e+01
 6.38849877e+01 5.46974149e+01 7.69414032e+01 3.50685824e+01
 6.31892084e+01 5.26070872e+01 6.28262397e+01 5.66294937e+01
 4.59892076e+01 5.21331956e+01 6.07576324e+01 4.21327467e+01
 4.93775904e+01 7.52896925e+01 5.53566684e+01 4.01383992e+01
 5.04487272e+01 4.07224422e+01 3.83739999e+01 4.66718797e+01
 6.21877483e+01 5.58593097e+01 6.48679843e+01 4.64361015e+01
 5.80287099e+01 5.86962804e+01 5.85948905e+01 4.24961464e+01
 5.75307114e+01 4.54977153e+01 3.78786438e+01 2.91575537e+01
 3.64789867e+01 3.80211150e+01 3.65277877e+01 6.58804490e+01
 3.78216162e+01 3.72108272e+01 5.63399250e+01 4.86163316e+01
 5.36660846e+01 4.56428486e+01 4.70379561e+01 5.26090438e+01
 5.40581939e+01 3.82597956e+01 5.63584370e+01 4.13443548e+01
 6.05283329e+01 4.43026433e+01 3.89191179e+01 4.72562803e+01
 4.89613108e+01 4.99019365e+01 4.19179913e+01 4.48903568e+01
 6.82230728e+01 4.19810889e+01 8.72363758e+01 5.21637667e+01
 4.61579314e+01 3.89960710e+01 3.77997883e+01 4.58500310e+01
 5.18189888e+01 3.12539093e+01 5.28903394e+01 4.98924288e+01
 5.47524330e+01 4.01522873e+01 4.09999153e+01 4.62748240e+01
 4.35603396e+01 4.88511803e+01 3.92657268e+01 5.64353741e+01
 4.12114708e+01 4.45773809e+01 5.45573909e+01 6.93499700e+01
 6.68821774e+01 4.86175065e+01 2.19960804e+01 2.67843660e+01
 2.33342205e+01 3.79008604e+01 4.33517803e+01 5.51892388e+01
 6.34337962e+01 5.31904165e+01 3.52277857e+01 4.57197325e+01
 5.11547687e+01 3.75788405e+01 4.53033236e+01 4.08735700e+01
 3.47449988e+01 5.92064631e+01 7.24909932e+01 6.08592198e+01
 4.61150864e+01 5.20797334e+01 3.77482311e+01 3.74373183e+01
 5.30601431e+01 7.72832552e+01 5.50429063e+01 7.77782089e+01
 4.33422772e+01 5.79275147e+01 4.07394525e+01 7.61702525e+01
 5.77671008e+01 5.76994820e+01 4.86425623e+00 1.56171130e+01
 1.54675359e+01 2.07594410e+01 5.68545459e+00 7.90205333e+00
 4.18357773e+01 6.13891283e+01 3.90340174e+01 4.46386960e+01
 3.69428409e+01 5.84078116e+01 5.39381053e+01 4.95776541e+01
 7.24693426e+01 5.47237697e+01 4.30494144e+01 6.44245732e+01
 8.88392899e+01 4.24099456e+01 5.55534737e+01 5.84733177e+01
 5.81790791e+01 8.42662641e+01 4.32348080e+01 4.65997414e+01
 3.97453346e+01 4.76477349e+01 5.40207971e+01 1.62969331e+01
 4.15113163e+01 5.13300823e+01 4.47039860e+01 4.77192178e+01
 5.49914387e+01 4.24655252e+01 5.31871684e+01 6.55590163e+01
 4.74957565e+01 6.12788227e+01 5.84969981e+01 5.15103480e+01
 4.03010672e+01 2.05215659e+01 1.80508823e+01 5.25503088e+01
 5.92796249e+01 5.89040660e+01 4.70843181e+01 5.77487343e+01
 5.95019929e+01 5.78493126e+01 6.94636935e+01 3.12479634e+01
 3.31313562e+01 4.01380276e+01 5.90103328e+01 4.96457305e+01
 4.71613271e+01 5.68900917e+01 6.48302519e+01 3.30926722e+01
 5.65319618e+01 5.29870756e+01 4.39295125e+01 2.98356916e+01
 3.21005575e+01 5.79581479e+01 5.07974270e+01 3.69933294e+01
 4.41116933e+01 5.70603279e+01 5.41133346e+01 4.84723985e+01
 4.71761673e+01 6.19368766e+01 5.59452169e+01 7.01213238e+01
 2.78568096e+01 4.75086849e+01 6.54966359e+01 4.93729751e+01
 5.78848723e+01 4.89124661e+01 5.39338439e+01 5.11374766e+01
 4.30841606e+01 5.22496297e+01 5.33018796e+01 6.53817445e+01
 4.74090977e+01 5.04731534e+01 4.78095110e+01 4.85233772e+01
 3.40283074e+01 5.75560286e+01 3.73039201e+01 5.79286757e+01
 2.94614718e+01 6.17757214e+01 4.64290854e+01 5.19893221e+01
 4.21601812e+01 6.06011600e+01 5.11711608e+01 6.83481331e+01
 4.75380578e+01 5.54118453e+02 4.87330852e+02 5.56425164e+02
 5.63916822e+02 5.57699888e+02 5.27317466e+02 5.24411448e+02
 5.73431889e+02 6.14884925e+02 5.26329324e+02 6.28027173e+02
 5.81144771e+02 5.78794268e+02 5.88440118e+02 4.98731217e+02
 4.73772825e+02 5.86772594e+02 6.37105363e+02 6.11738885e+02
 5.66413936e+02 4.93528878e+02 6.40088004e+01 3.16229656e+01
 8.69579032e+01 5.32025501e+01 6.25517305e+01 8.40543577e+01
 3.82040051e+01 7.47025588e+01 3.18114076e+01 4.57714622e+01
 7.70577399e+01 5.83727473e+01 9.99366047e+00 2.31695729e+01
 2.31003749e+01 7.06136198e+02 7.61756838e+02 6.21890683e+02
 7.59073916e+02 5.83875842e+02 8.05806451e+02 7.02537515e+02
 6.27056471e+02 7.84059991e+02 6.57803566e+02 7.12180394e+02
 6.23724893e+02 6.48645936e+02 7.88579918e+02 6.81664993e+02
 7.27059325e+02 7.93068379e+02 2.47738799e+03 2.39190510e+03
 2.62385244e+03 2.19614369e+03 2.64028442e+03 2.70317543e+03
 2.12102831e+03 2.31544077e+03 2.40269049e+03 2.05141894e+03
 2.60746212e+03 2.11617100e+03 2.12472420e+03 2.50199449e+03
 2.40089546e+03 4.45744424e+01 5.89438641e+02 6.12044082e+02
 7.16726969e+02 6.59722051e+02 5.73820827e+02 6.20034618e+02
 7.51355532e+02 7.18715458e+02 6.45728281e+02 5.89772952e+02
 6.74035584e+02 6.33629778e+02 6.17212019e+02 6.41779690e+02
 6.85270671e+02 4.01843456e+02 1.08088372e+02 5.19533439e+01
 1.73960981e+02 7.85583698e+02 6.98428410e+02 4.95776080e+02
 5.51074888e+01 2.77676058e+02 2.04204085e+02 2.59679940e+02
 4.88201176e+02 5.64619163e+02 2.52862407e+02 1.91227343e+02
 3.02788708e+02 1.57698442e+02 3.32018847e+02 2.12625352e+02
 2.28185681e+02 2.94990642e+02 2.50417776e+02 7.39305717e+02
 3.32702263e+02 4.42278569e+02]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  inventory_df.loc[mask, 'Demand Forecast'] = inventory_df.loc[mask, 'Units Ordered'] * np.random.uniform(1.1, 1.5, size = mask.sum())
C:\Users\neel9\AppData\Local\Temp\ipykernel_2612\3499703856.py:31: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  inventory_df = inventory_df.groupby('Product ID', group_keys=False).apply(update_inventory).reset_index(drop=True)

,Date,Product ID,Product Name,Department Id,Category Id,Category Name,Inventory Level,Total Units Sold,Total Sales,Total Profit,Units Ordered,Demand Forecast,Product Price,Competitor Pricing,Cost to Company,Total Inventory,month,quarter,is_month_start,is_month_end
0,2017-04-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,3.0,2.0,249.979996,106.320000,2.0,3.0,124.989998,131.84,91.43,1.0,4,2,True,False
1,2017-05-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,18.0,13.0,1624.869973,228.510005,13.0,17.0,124.989998,123.46,93.00,5.0,5,2,True,False
2,2017-06-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,24.0,13.0,1624.869973,458.999994,13.0,19.0,124.989998,133.95,91.03,11.0,6,2,True,False
3,2017-07-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,29.0,15.0,1874.849969,325.769995,15.0,18.0,124.989998,129.92,94.75,14.0,7,3,True,False
4,2017-08-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,36.0,17.0,2124.829964,-194.960013,17.0,22.0,124.989998,114.85,90.61,19.0,8,3,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,2018-01-01,1361,Toys,7,74,Toys,295.0,276.0,3185.039989,443.520002,226.0,253.0,11.540000,11.71,8.03,19.0,1,1,True,False
2446,2017-12-01,1362,Fighting video games,9,75,Video Games,250.0,228.0,9063.000000,750.370007,219.0,250.0,39.750000,36.17,25.61,22.0,12,4,True,False
2447,2018-01-01,1362,Fighting video games,9,75,Video Games,761.0,610.0,24247.500000,1967.149990,565.0,739.0,39.750000,38.99,27.88,151.0,1,1,True,False
2448,2017-12-01,1363,Summer dresses,4,76,Women's Clothing,333.0,272.0,58703.041986,7927.739958,280.0,333.0,215.820007,219.40,167.86,61.0,12,4,True,False
2449,2018-01-01,1363,Summer dresses,4,76,Women's Clothing,503.0,378.0,81579.962759,11175.109972,324.0,442.0,215.820007,219.50,163.69,125.0,1,1,True,False

In [18]:
inventory_df = inventory_df[inventory_df['Date'] <= '2017-04-30']
inventory_df.rename(columns = {"Demand Forecast": "Inventory Forecast"}, inplace = True)
inventory_df.reset_index(drop = True)

C:\Users\neel9\AppData\Local\Temp\ipykernel_2612\280946684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_df.rename(columns = {"Demand Forecast": "Inventory Forecast"}, inplace = True)

,Date,Product ID,Product Name,Department Id,Category Id,Category Name,Inventory Level,Total Units Sold,Total Sales,Total Profit,Units Ordered,Inventory Forecast,Product Price,Competitor Pricing,Cost to Company,Total Inventory,month,quarter,is_month_start,is_month_end
0,2017-04-01,19,Nike Men's Fingertrap Max Training Shoe,2,2,Soccer,3.0,2.0,249.979996,106.320000,2.0,3.0,124.989998,131.84,91.43,1.0,4,2,True,False
1,2017-04-01,24,Elevation Training Mask 2.0,2,2,Soccer,16.0,12.0,959.879982,-90.479999,11.0,16.0,79.989998,77.92,61.96,4.0,4,2,True,False
2,2017-04-01,35,adidas Brazuca 2014 Official Match Ball,2,3,Baseball & Softball,7.0,5.0,799.950028,122.730002,5.0,7.0,159.990005,168.25,110.27,2.0,4,2,True,False
3,2015-01-01,37,adidas Kids' F5 Messi FG Soccer Cleat,2,3,Baseball & Softball,26.0,18.0,629.820015,-305.269996,18.0,26.0,34.990002,36.70,24.53,8.0,1,1,True,False
4,2015-02-01,37,adidas Kids' F5 Messi FG Soccer Cleat,2,3,Baseball & Softball,26.0,20.0,699.800022,174.660004,17.0,18.0,34.990002,38.26,22.64,6.0,2,1,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,2016-12-01,1073,Pelican Sunstream 100 Kayak,7,48,Water Sports,2505.0,446.0,89195.542453,12422.839960,446.0,483.0,199.990005,207.74,156.35,2059.0,12,4,True,False
1541,2017-01-01,1073,Pelican Sunstream 100 Kayak,7,48,Water Sports,2526.0,432.0,86395.682376,9042.300007,432.0,467.0,199.990005,213.90,143.74,2094.0,1,1,True,False
1542,2017-02-01,1073,Pelican Sunstream 100 Kayak,7,48,Water Sports,2540.0,443.0,88595.572436,12089.199881,443.0,446.0,199.990005,189.49,131.97,2097.0,2,1,True,False
1543,2017-03-01,1073,Pelican Sunstream 100 Kayak,7,48,Water Sports,2731.0,495.0,98995.052722,10440.139997,495.0,634.0,199.990005,186.01,147.28,2236.0,3,1,True,False
1544,2017-04-01,1073,Pelican Sunstream 100 Kayak,7,48,Water Sports,2853.0,481.0,96195.192645,9400.380019,481.0,617.0,199.990005,180.34,149.60,2372.0,4,2,True,False

In [19]:
inventory_df.to_csv('inventory_final.csv', index = False)